{% extends "results.html" %}
{% macro get_lastnames(team_members) -%}
{% for student in team_members %}
{{ student.last_name }}
{% endfor%}
{%- endmacro %}
{% block content %}
        <section style="justify-content: center">
            <section>
                <article>
                    <h2>Overview</h2>
                    <ul>
                        {% for h, content  in mounts.items() %}
                        <li>
                            <a href="/audit/{{ h }}">{{ hash(h) }} {{ get_lastnames(content.team_members)}}</a> -
                            <a href="/report/{{ h }}" target="_blank">Report Preview 🔗</a> -
                            <a href="/source/{{ h }}" target="_blank">Source Code 🔗</a>
                            {% if h.path in patched %} (patched) {% endif %}
                            {% if content.summary.pending > 0 %}(pending){% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="/summary" target="_blank"><input type="button" value="Summary" style="float: right" /></a>
                </article>
            </section>
        </section>
        {% if results %}
        <section>
            <h2>Audit: {{hash(results.checksum)}} {{ get_lastnames(results.team_members)}}</h2>
            <form action="/patch" method="POST" style="width: 100%; margin: 1em">
                <input type="hidden" name="id" value="{{ results.checksum }}" />
                {{ display_results(True)|indent|indent|indent }}
                <p>
                    <a href="/audit"><input type="button" value="Overview" /></a>
                    <input type="submit" value="Patch Changes" style="float: right" />
                    <input type="reset" value="Reset" style="background-color: #CC071E; float: right" />
                </p>
            </form>
        </section>
        {% endif %}
{% endblock %}