{% extends "base.html" %}

{% block content %}
    <section>
        <article style="width: 100%">
            <h2>Results</h2>
            <table style="table-layout: auto; width: 100%">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th style="text-align: right">Score</th>
                    <th style="text-align: right">Max Score</th>
                    <th style="text-align: right">Patches</th>
                    <th>Checksum</th>
                    <th>Archive</th>
                </tr>
                </thead>
                <tbody>
                {% for i, r in summary.iterrows() %}
                    <tr>
                        {% if r['duplicate'] %}
                            <td class="CWarning" style="font-weight: bold; color: var(--c-foreground)">
                                <span class="CWarning">{{ r['student_id'] }}</span>
                            </td>
                        {% else %}
                            <td><code>{{ r['student_id'] }}</code></td>
                        {% endif %}
                        <td>{{ r['last_name'] }}</td>
                        <td>{{ r['first_name'] }}</td>
                        <td style="text-align: right">{{ r['score'] }}</td>
                        <td style="text-align: right">{{ r['max_score'] }}</td>
                        <td style="text-align: right">{{ r['patches'] }}</td>
                        <td>{{ hash(r['notebook_id']) }}</td>
                        <td><code>{{ r['archive'] }}</code></td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </article>
    </section>
{% endblock %}

{% block footer %}
    <section>
        {% for plot in plots %}
            <article>
                <h2>{{ plot.title }}</h2>
                {% if plot.data %}
                    <img src="data:image/svg+xml;base64,{{ plot.data }}" alt="score distribution"/>
                {% else %}
                    <p>Not available</p>
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}